<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body {% if page.layout == 'post' %}class="post-template"{% elsif page.layout == 'page' %}class="page-template"{% elsif page.layout == 'home' %}class="home-template"{% endif %}>
    <div class="site-wrapper">
      {% include header.html %}
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
